{:paths   ["src/cljs" "src/cljc"]

 :deps    {org.clojure/clojurescript {:mvn/version "1.11.4"}
           org.clojure/core.async    {:mvn/version "1.5.648"}
           reagent/reagent           {:mvn/version "1.1.1"}
           quil/quil                 {:mvn/version "3.1.0"}}
 :aliases {:cljs
           {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.8"}}}
           :shadow-cljs
           {:extra-deps {thheller/shadow-cljs {:mvn/version "2.18.0"}}
            :main-opts  ["-m" "shadow.cljs.devtools.cli"]}}
 }


